<!DOCTYPE html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
            <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
            <link rel="stylesheet" href="/css/main.css">
            <title>hirusta.io</title>            
    </head>
<body>
	{% include header.html %}
	<main>
		{{ content }}
    </main>
    {% include footer.html %}
</body>

</html>